<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="http://getbootstrap.com/favicon.ico"> -->

    <style type="text/css">
        :root #content > #right > .dose > .dosesingle,
        :root #content > #center > .dose > .dosesingle {
            display: none !important;
        }</style>

    <title><%- title %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- HTTPS required. HTTP will give a 403 forbidden response -->
    <script type="text/javascript">
        var decodeViewData = function(x) {
            return x.replace(/&#(\d+);/g, function(match, dec) {
                return String.fromCharCode(dec);
            });
        };

        var viewData = decodeViewData('<%= viewData %>');
        // console.log(viewData);

        var view = JSON.parse(viewData);
        // console.log(view);

    </script>
</head>
<body>
<!-- Container begin -->
<div class="container">

    <main role="main">

        <div style="padding: 10px 200px; background-color: #fff; text-align: center">
            <img src="/images/essp-pink-logo.png" width="200">

            <br/>
            <br/>
            <br/>
            <br/>

            <p>
            <h4 style="color:#ac2189;">Admin Screen to Send Notification Messages</h4>
            </p>
            <br/>
            <br/>
            <br/>
            <form>
            <p>
                <input type="text" placeholder="Phone Number" class="form-control" id="phoneNumber">
            </p>
            <p>
                <input type="text" placeholder="Notification" class="form-control" id="textBody">
            </p>
                <!-- <a class="btn btn-md" style="background-color: #ac2189; border-color: #ac2189; color: #ffffff" href="http://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/#" role="button">Continue</a> -->
                <input type="button" class="btn btn-md" style="padding: 8px 120px; background-color: #ac2189; border-color: #ac2189; color: #ffffff" id="sendSms" value="Send"></input>
            </form>

            <br/>
            <br/>

            <footer class="footer" style="text-align: left; font-weight: bold;">
                <p>
                    <span> © EARN 2017 </span>
                    <span style="float: right;"> Privacy Policy &nbsp;&nbsp; Legal &nbsp;&nbsp; Contact</span>
                </p>
            </footer>
        </div>


        <script>
            $('#sendSms').click(function(e) {
                var phoneNumber =  $("#phoneNumber").val();
                var textBody =  $("#textBody").val();
                e.preventDefault();
                $.ajax({
                    url: "/sms/sendText",
                    data: {
                        phoneNumber: phoneNumber,
                        textBody: textBody
                    },
                    dataType: 'json',
                    type: "POST",
                    success: function(responseData) {
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        </script>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</div>
<!-- /container -->
</body>
</html>