<!DOCTYPE html>
<html>
<head>
    <title>Test View for SMS</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <p>Phone Number: <%= phoneNumber %></p>
    <p>Text Template: <%= textBody %></p>
</body>
</html>
